@import '~src/styles/colors';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/type";
.navbar-wrapper {
    border-bottom: 1px solid $color-tile-gray;
    background-color: $color-white;
    height: 140px;
    .brand-logo {
        padding: 10px 30px 10px 15px;
    }
    @include media-breakpoint-up(sm) {
        height: 90px;
        padding: 10px 30px 10px 15px;
        .brand-logo {
            float: left;
            padding: 0;
        }
    }
}

.nav {
    border-top: 1px solid $color-tile-gray;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 18px;
    @include media-breakpoint-up(sm) {
        border: 0;
        margin: 26px auto;
        padding: 0;
        width: 360px;
    }
    li {
        color: $color-light-black;
        cursor: pointer;
        float: left;
        font-weight: bold;
        font-size: 12px;
        padding: 0 17px;
        &:first-child {
            padding-left: 0;
        }
        i {
            vertical-align: text-top;
        }
    }
}

.cart {
    color: $color-light-black;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 40px;
    @include media-breakpoint-up(sm) {
        float: right;
        position: inherit;
    }
}

.popover {
    padding: 25px 15px 14px;
}

.cart-popover {
    background-color: $color-white;
    box-shadow: 1px 10px 8px -1px $color-gray;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    left: -250px;
    width: 360px;
    @include media-breakpoint-up(sm) {
        left: auto;
        right: 25px;
        width: 420px;
    }
    ul {
        border-bottom: 1px solid $color-tile-gray;
    }
    li {
        margin-bottom: 15px;
    }
}

.info {
    padding: 0 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 220px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        width: 230px;
    }
    a {
        display: block;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 2px 0;
    }
}

.h-txt {
    color: $color-dark-gray;
    font: 12px Helvetica, sans-serif;
    letter-spacing: 1px;
}

.price {
    color: $color-light-black;
    font: 12px Helvetica, sans-serif;
    margin: 4px 0 12px;
}

.btn-group {
    margin-top: 15px;
    .btn {
        width: 148px;
        @include media-breakpoint-up(sm) {
            width: 178px;
        }
    }
    .btn-white {
        margin-right: 15px;
    }
}

.icon-remove {
    background-color: $color-dark-gray;
    margin-right: 25px;
    &:before,
    &:after {
        height: 20px;
    }
}

.exception {
    background-color: $color-white;
    color: $color-dark-gray;
    padding: 60px;
}