<div class="navbar-wrapper">
    <a routerLink="/">
        <img src="assets/images/logo.png" class="brand-logo">
    </a>
    <nav>
        <ul class="nav">
            <li><a routerLink="/">HOME</a></li>
            <li><a>SHOP &nbsp;<i class="fa fa-caret-down"></i></a></li>
            <li><a>JOURNAL</a></li>
            <li><a>MORE &nbsp;<i class="fa fa-caret-down"></i></a></li>
        </ul>
    </nav>
    <a class="cart" routerLink="cart">MY&nbsp;&nbsp;CART&nbsp;&nbsp;({{trolleyInfo.totalQty}})&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
</div>