.btn-default {
    @include button-variant($color-btn-bg, $color-btn-bg, lighten($color-btn-bg, 10%));
    @include button-size(27px, 30px, 13px, 0, 0);
    color: $color-white;
    text-align: center;
    &.active {
        background-color: $color-light-black;
        color: $color-white;
    }
}

.btn-white {
    @include button-variant($color-white, $color-light-black, $color-cart-bg);
    @include button-size(27px, 30px, 13px, 0, 0);
    color: $color-light-black;
    text-align: center;
}